# Control Flow

In [1]:
print ("Ali Abbas")

Ali Abbas

In [3]:
a = "Saylani"
print(a)
print(type(a))

Saylani
<class 'str'>

# String Class Methods And Attributes

In [8]:
a = "PiAic SBs"
print(a)

PiAic SBs

In [9]:
a.capitalize()

'Piaic sbs'

In [10]:
a.title()

'Piaic Sbs'

In [11]:
a.upper()

'PIAIC SBS'

In [12]:
a.lower()

'piaic sbs'

In [13]:
print(a)

PiAic SBs

In [15]:
abc = """
Saylani Welfare Trust
City: Karachi
Country:Pakistan
"""
abc

'\nSaylani Welfare Trust\nCity: Karachi\nCountry:Pakistan\n'

In [18]:
abc = """"
**********PIAIC*********
Saylani Welfare Trust
Name; Ali Abbas
Father's Name: Muhammad Abbas
Roll No: AIC 012791
City: Karachi
Country:Pakistan
*********END********
"""
print(abc)

"
**********PIAIC*********
Saylani Welfare Trust
Name; Ali Abbas
Father's Name: Muhammad Abbas
Roll No: AIC 012791
City: Karachi
Country:Pakistan
*********END********

In [26]:
name = "Ali Abbas"
father_name = "Muhammad Abbas"
roll_no = "AIC 012791"
City = "Karachi"
Country = "Pakistan"
"""
*******PIAIC********
Saylani Welfare Trust
Name: {}
Father Name: {}
Roll No: {}
City: {}
Country; {}
*******END******
"""
print(abc.format(name,father_name,roll_no,City,Country))

"
**********PIAIC*********
Saylani Welfare Trust
Name; Ali Abbas
Father's Name: Muhammad Abbas
Roll No: AIC 012791
City: Karachi
Country:Pakistan
*********END********

In [27]:
a = print("pakistan")
print(a)

pakistan
None

In [30]:
a = input("Enter your Name:")
a

Enter your Name:Ali Abbas

'Ali Abbas'

In [31]:
name = input("Enter your Name:")
father_name =input("Enter your Father's Name:")
roll_no = input("Enter your Roll No:")
city = input("Enter your City:")
country = input("Enter your Country")
"""
************PIAIC*************
Saylani Walfare Trust
Name          : {}
Father's Name : {}
Roll No       : {}
City          : {}
Country       : {}
*************END**************
"""
print(abc.format(name, father_name, roll_no, city, country))

Enter your Name:Ali Abbas
Enter your Father's Name:Muhammad Abbas
Enter your Roll No:AIC 012791
Enter your City:Karachi
Enter your CountryPakistan
"
**********PIAIC*********
Saylani Welfare Trust
Name; Ali Abbas
Father's Name: Muhammad Abbas
Roll No: AIC 012791
City: Karachi
Country:Pakistan
*********END********

In [32]:
a = "Pakistan"
b = "Zindabad"
a + b

'PakistanZindabad'

In [33]:
x = 4 
y = 5
x + y

9

In [34]:
4 + 4

8

# Operators +,-,*,/,%,II # Mathematics

In [1]:
4 + 5

9

In [2]:
5 - 4

1

In [3]:
5 * 5

25

In [4]:
8 / 5

1.6

In [5]:
5 % 4

1

In [6]:
20 // 5

4

In [7]:
10 ** 10

10000000000

In [8]:
4 + 5 - 6 * (3 * 5 / 6) * 3 + 6 / 3

-34.0

In [9]:
4 + 5 - 6 * (3 * 5 / 6) * 3 + 6 / 3
4 + 5 - 6 * (15 / 6) * 3 + 6 / 3
4 + 5 - 6 * (2.5) * 3 + 6 / 3
4 + 5 - 6 * (7.5) + 6 / 3
4 + 5 - 45 + 6 / 3
4 + 5 - 45 + 2
9 - 45 + 2
11 - 45
-34

-34

# =, +=,-=,*=,/=,%=

In [10]:
a = "Pakistan"
a

'Pakistan'

In [11]:
a = "China"
a

'China'

In [12]:
a * 2

'ChinaChina'

In [15]:
a = "abc"
a

'abc'

In [16]:
a += "xyz"
a

'abcxyz'

In [17]:
a *= 2
a

'abcxyzabcxyz'

In [18]:
a = 23
a %= 3
a

2

In [19]:
a = 6
a **=3
a

216

In [20]:
a = "abc"
a **= 2
a

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# ==,<,>,<=,>=,!=,<>  #Logical Operators

In [21]:
6 == 6

True

In [22]:
9 == 8

False

In [23]:
5 > 4

True

In [24]:
6 < 2

False

In [25]:
5 != 5

False

In [26]:
3 <= 5

True

In [27]:
5 <= 4

False

In [28]:
5 != 1

True

In [30]:
5 <= 6 and 4 >= 6 and 4 <= 4

False

In [31]:
5 <= 6 and 4 >= 6 or 4 <= 4

True

In [32]:
True | False # OR

True

In [33]:
True & True & False #AND

False

In [34]:
a = "abc"
b = "xyz"
c = "27"
a + b + c

'abcxyz27'

In [35]:
a = 'abc'
b = 'xyz'
c = '27'
print(a,b,c)

abc xyz 27

In [36]:
a = 'abc'
b = 'xyz'
c = 27
a + b + str(c)

'abcxyz27'

In [37]:
a = '1'
b = '1'
a + b

'11'

In [38]:
a = input()
b = input()
a + b

1
34

'134'

In [39]:
int(a) + int(b)

35

In [40]:
float(a) + float(b)

35.0

In [41]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Control Flow

In [43]:
a = loop(for,while) exception if else elif switch
a

SyntaxError: invalid syntax (<ipython-input-43-3356ecc6d2ff>, line 1)

# If,else,elif

In [44]:
name = input("Enter your name:")
if name == 'ali':
    print("AI Class Student")
else:
    print("Other Class Student")

Enter your name:ali
AI Class Student

In [45]:
name = input("Enter your name:")
if name == 'vivek':
    print("AI Class Student")
else:
    print("Other Class Student")

Enter your name:Ali
Other Class Student

In [46]:
name = input("Enter your name:")
if name.lower() == 'ali':
    print("AI Class Student")
else:
    print("Other Class Student")

Enter your name:Ali
AI Class Student

In [47]:
per = 89
if per >= 0:
    print("Fail")
elif per >= 33:
    print("E")
elif per >= 40:
    print("D")
elif per >= 50:
    print("C")
elif per >= 60:
    print("B")
elif per >= 70:
    print("A")
elif per >= 80:
    print("A+")

Fail

In [48]:
per = 89

if per >= 0 and per <33:
    print("Fail")
elif per >=33 and per <40:
    print("E")
elif per >= 40 and per <50:
    print("D")
elif per >= 50 and per < 60:
    print("C")
elif per >= 60 and per <70:
    print("B")
elif per >= 70 and per <80:
    print("A")
elif per >=80 and per <100:
    print("A+")
else:
    print("Not Valid")

A+

In [49]:
per = int(input("Enter your percentage :"))

if per >= 0 and per <33:
    print("You are Fail")
elif per >=33 and per <40:
    print("Your grade is E")
elif per >= 40 and per <50:
    print("Your grade is D")
elif per >= 50 and per < 60:
    print("Your grade is C")
elif per >= 60 and per <70:
    print("Your grade is B")
elif per >= 70 and per <80:
    print("Your grade is A")
elif per >=80 and per <100:
    print("Your grade is A+")
else:
    print("Not Valid")

Enter your percentage :80
Your grade is A+

In [51]:
per = 80

if per >= 80:
    print("A+")
elif per >= 70:
    print("A")
else:
    print("Fail")

A+

In [52]:
names = ['ali', 'faizan' , 'faiq']
names

['ali', 'faizan', 'faiq']

In [53]:
names[2]

'faiq'

In [54]:
names

['ali', 'faizan', 'faiq']

In [55]:
names = []
while True:
    a = input("Names:")
    if a != "x":
        names.append(a)
    else:
        break

names

Names:ali
Names:faizan
Names:faiq
Names:gorave
Names:nabeel
Names:sahil
Names:salman
Names:mohammad patel
Names:Saeed
Names:Junaid
Names:aaliyan
Names:x

['ali',
 'faizan',
 'faiq',
 'gorave',
 'nabeel',
 'sahil',
 'salman',
 'mohammad patel',
 'Saeed',
 'Junaid',
 'aaliyan']